.test{display:block !important}
.led-modal {
	position: fixed;
	background-color: #3f3f3f3f;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4000;
}

.led-modal {
	display: none;
}

.led-modal-content {
  background-color: #fff;
  width: 60%;
  margin: 5% auto;
}

.led-modal-text {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.led-modal-img {
  text-align: center;
}

.led-modal-product-select {
  display: inline-block;
  margin: 10px 5px;
  background: none;
}

.led-select-img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: grey 2px 2px 2px;
  margin: auto;
}
#close-time {
 position: absolute;
 top: 2rem;
 right: 2rem;
 font-size: xx-large;
}
.modal-img-cap {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin: 5px 0;
}
#cat-tittle {
  font-size: 30px;
  font-weight: bold;
}
.cat-selected {
  text-align: center;
}
#modal-product .led-modal-text {
  font-weight: lighter;
  font-size: 25px;
  text-transform: uppercase;
}

#update-product-options , #product-options {
  text-align: center;
  color: #333;
}

#update-product-quantity, #product-quantity {
  max-width: 100px;
  height: 35px;
}


#update-product-button, #product-button {
  text-align: center;
  padding: 10px;
}

#update-product-button .led-product-button, #product-button .led-product-button {
  background-color: #8bc63e;
  color: white;
  text-decoration: none;
  padding: 5px 40px;
  border-radius: 30px;
}

#update-product-options , #product-options {
  padding: 10px;
}

.product-item {
  display: flex;
}

.product-img-container {
  flex-basis: 15%;
  padding: 11px;
  padding-top: 0px;
}

.product-content {
  padding: 30px 10px 10px;
}

.product-img-container {
  padding: 0px 25px 25px 0px;
}

.product-name {
  font-size: x-large;
  color: black;
  font-weight: 900;
}
.product-button {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
.led-button {
  display: flex;
  width: auto;
  margin-right: 10px;
  cursor: pointer;
}
.led-button span {
  margin-left: 5px;
  color: #6d6d6d;
}
.hentry .entry-content a.led-button {
  text-decoration: none;
}


/* En línea #18 | http://localhost/wordpress/led-calculator-tet/ */

.led-modal-content h2 {
  font-weight: 800;
  font-size: 22px;
  text-align: center;
}

#modal-update-calculate {
  width: 30%;
}

.cal-number {
  background-color: yellow;
  color: black;
  font-weight: 1000;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.number-container {
  display: flex;
  justify-content: center;
}
#led-cal-list {
	height: 200px;
	overflow-x: scroll;
  padding: 0 2rem;
}
.suggerence-row {
  display: flex;
}
.suggerence-img {
  flex-basis: 20%;
}
.suggerence-text {
  font-weight: 1000;
  color: #333333;
}
.suggerence-container {
  padding-top: 1rem;
}
#modal-quote {
  padding: 2rem;
  text-align: center;
}

/* En línea #20 | http://localhost/wordpress/led-calculator-tet/ */

.quote-form span input:focus {
  border: none;
  outline: none;
}
.quote-form span {
	width: 100%;
	display: block;
}
.quote-form span input {
	width: 70%;
	border-radius: 25px;
}
.led-form input[type="submit"] {
  margin-top: 20px;
  border-radius: 25px;
  background-color: #5CC15C;
}
.quote-form.quote-form-hidden {
  display: none;
}